/* 
    Created on : 28-mar-2017, 11.56.13
    Author     : Matteo
*/

/*Generico*/
nav {
    background-color: #e4e4e4;
    font: 17px/20px "Open Sans", Arial, sans-serif;
    width: auto;
    margin-right: 7px;
}

body {
    background-color: #e4e4e4;
    font: 15.5px/25px "Open Sans", Arial, sans-serif;
    margin-left: 7px;
    margin-right: 7px;
}

h1 {
    font: 27px/30px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font: 23px/25px "Open Sans", Arial, sans-serif;
}

h3 {
    font: 19px/20px "Open Sans", Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

nav ul li {
    float: left;
    border-right: 1px solid whitesmoke;
}
nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #00cc00;
}

.active{
    background-color: #00cc00;
}
/*Generico*/

 #sommario h3{
    font-size: 25px;
}

#sommario a:link{
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}

#sommario a:visited{
    font-size: 17px;
    text-decoration: none;
    color: #000000;
}

#sommario a:hover{
    font-weight: bold;
}

#title{
    display: block;
    background-color: #009900;
    text-align: center;
    float: left;
    border-right: 2px solid whitesmoke;
    margin-left: 7px;
    
}
#title h1{
    color: white;
    background-color: #009900;
    font: 17px/25px "Open Sans", Arial, sans-serif;
    padding-right: 16px;
    padding-left: 16px;
    width: 120px;
}

.picProf{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.picProf img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.picPost{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    align-content: center;
}

.picPost img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#form{
    float: left;
    width: 500px;
    margin-left: 7px;
    margin-right: auto;
}

#form div{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

#form label{
    font: 20px/25px "Open Sans", Arial, sans-serif;
    line-height: 2.35;
}
#form input{
    font: 20px/25px "Open Sans", Arial, sans-serif;
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 48.7%;
}

#form textarea{
    width: 49%;
    padding: 5px;
    position: absolute;
    right: 0px;
}

form button{
    width: 100%;
}

#loginForm{
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

#loginForm label{
    font: 20px/25px "Open Sans", Arial, sans-serif;
    line-height: 2.35;
    vertical-align: middle;
    display: inline-block;

}
#loginForm input{
    font: 20px/25px "Open Sans", Arial, sans-serif;
    padding: 5px;
    position: absolute;
    right: 0px;
    margin-right: 7px;

}

#loginForm  div button{
    width: 95%;
    margin-left: 7px;
    margin-right: 7px;
}

#sidebar{
    width: 143px;
    height: 1000px;
    float: left;
    padding: 5px;
    font-size: 15px;
    background-color: #cccccc;
    border-radius: 5px;
}

#postList{
    margin-left: 160px;
    position: absolute;
}

.post{
    padding: 10px 10px;
    border-radius: 5px;
    /*margin-left: 10px;*/
    margin-bottom: 7px;
    background: #cccccc;
}

h4{
    margin: 0px;
    margin-bottom: 7px;
}

form{
    background-color: #cccccc;
    border-radius: 5px;
    padding: 7px 7px;
}

#divBody{
    margin: 7px 7px;
    position: relative;
}

#descrizione{
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #cccccc;
}

#sommario{
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #cccccc;
    margin: 7px 7px;
}